<html>
    <head>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
        <title>Restaurants</title>
    </head>
    <body>
        <div class='container'>
            <h1> Restaurants serving {{ cuisine.getType }} food:</h1>
            <h3>Add a restaurant:</h3>
            <!-- form stuff -->
            <form action="/restaurant" method="post">
                <label for="name">Restaurant name:</label>
                <input id="name" name="name" type="text">
                <input value="{{ cuisine.getId }}" id="cuisine_id" name="cuisine_id" type="hidden"><br>

                <label for="rating">Restaurant rating:</label>
                <select id="rating" name="rating">
                    <option value="1">1 star</option>
                    <option value="2">2 stars</option>
                    <option value="3">3 stars</option>
                    <option value="4">4 stars</option>
                    <option value="5">5 stars</option>
                </select><br>
                <label for='review'>Review :</label><br>
                <textarea name='review' id='review' rows="4" cols="50" placeholder="Enter review here" type="text"></textarea><br>

                <button type="submit">Add restaurant</button>
            </form>



            {% if restaurants is not empty %}
                <p>
                    Here are all your restaurants :
                </p>
                <ul>
                    {% for restaurant in restaurants %}

                    <p><strong>{{ restaurant.getName }}</strong></p>
                    <li>{{ restaurant.getRating }} stars</li>
                    <li>{{ restaurant.getReview }}</li>

                        <form action="/cuisines/{{ cuisine.getId }}/deleteSingle" method="post">
                            <!-- <input value="" id="cuisine_id" name="cuisine_id" type="hidden"> -->
                            <input value='{{ restaurant.getId }}' name="rest_id" id="rest_id" type="hidden">
                            <input name="_method" type="hidden" value="delete">
                            <button type='submit'>Delete</button>
                        </form>

                    {% endfor %}
                </ul>
            {% else %}
                <p>No one has added any restaurants.</p>
            {% endif %}

            <form action="/cuisines/{{ cuisine.getId }}/deleteRestaurants" method="post">
                <!-- <input value="" id="cuisine_id" name="cuisine_id" type="hidden"> -->
                <input name="_method" type="hidden" value="delete">
                <button type='submit'>Delete All Restaurants</button>
            </form>


            <p><a href="/cuisines/{{ cuisine.getId }}/edit">Edit this cuisine type</a></p>
            <p><a href="/">Home</a></p>

        </div>
    </body>
</html>
